@import '../../colors.scss';

header {
  background-image: url(../../images/grid-header.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: auto 1fr;
  color: white;
  text-align: center;

  nav {
    background: transparent;
    top: 0;
    width: 100%;
    transition: all 0.5s;
    position: relative;
    z-index: 111;
    &.fixed-nav {
      position: fixed;
      background-color: #0f2811;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      color: white;
      text-align: center;
    }

    a {
      flex: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      li {
        padding: 20px;
        display: inline-block;
        color: white;
        transition: all 0.2s;
        text-transform: uppercase;
        width: 100%;
        position: relative;
        transition: all 0.3s ease-in;

        &:hover {
          color: $secondaryColor;
        }
      }

      &.active li {
        color: $secondaryColor;
      }

      &.active li:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 6px;
        left: 0;
        bottom: -5px;
        background-color: $secondaryColor;
        color: $secondaryColor;
        transform: scale(1);
      }

      &.logo {
        max-width: 0;
        overflow: hidden;
        background: white;
        transition: all 0.5s;
        font-weight: 600;
        font-size: 30px;

        a {
          color: black;
        }
      }
      .fixed-nav li.logo {
        max-width: 500px;
      }
    }

    .desktop-nav {
      li {
        flex: 1;
        font-family: 'Syncopate', sans-serif;
        text-transform: uppercase;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    .mobile-nav {
      button {
        background-color: transparent;
        outline: 0;
        border: 0;
        color: white;
      }

      .mobile-links {
        background: transparent;
        flex-direction: column;
        width: 100vw;
        display: none;
        &.open {
          display: block;
        }
        li {
          display: block;
        }
      }
      @media (min-width: 499px) {
        display: none;
      }
    }
  }
}
