.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #111111c0;
  z-index: 9999999999999;
  transition: all 0.6s;

  .load-circle {
    margin: 35vh auto;
    width: 100px;
    height: 100px;
    img {
      width: 100%;
      height: auto;
    }
    animation: rotate 1.2s infinite linear;
  }

  &.is-leaving {
    opacity: 0;
  }

  &.is-left {
    display: none;
  }
}

@keyframes rotate {
  0% {
    transform: scale(0) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(180deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}
