.header {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    nav.is-hidden {
        display: none;
    }
}

.header a {
    background: none;
    text-decoration: none;
}

.header nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    justify-content: space-between;
    width: 100%;
    margin-left: 1em;

    a {
        padding: 0 1em;
        &:hover {
            font-style: italic;
            // border-bottom: 1px solid gray;
        }

        &.active {
            // border-bottom: 2px solid black;
            font-weight: bold;
        }
    }

    .page-links {
        display: flex;
    }

    // simple button styles
    .page-button {
        background: none;
        border: none;
        padding: 0.5em 1em;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        text-decoration: none;
        color: white;
        font-size: inherit;
        font-weight: bold;
        font-family: inherit;
        border: 1px solid lightgray;
        border-radius: 3px;
        background-color: var(--color-primary);

        &:hover {
            $purple: var(--color-primary);
            background-color: lighten(#283597, 10%);
            // background-color: lightgray;
        }
    }
}

.social-links {
    display: flex;
    font-size: 2em;

    a {
        margin-right: 0.5em;
    }
}

.cloud-text {
    padding: 0.5em 0;
    font-family: var(--fontFamily-sans);
}

.hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 2em;

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.project-image {
    margin-top: var(--spacing-8);
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote:after {
    color: transparent;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
    font-style: normal;
}

blockquote span.author {
    display: block;
    text-align: right;
}

/* blockquote span b { */
/* } */
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1em;

    a {
        text-decoration: none;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        background-color: white;
        text-align: center;
        border: 1px solid lightgray;
        height: 100%;
        min-height: 320px;
        overflow: hidden;
        transition: all 150ms ease-in;

        &:hover {
            transform: scale(1.05);
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            padding: 1em;
        }
    }
}
