.contact-icons {
    margin-top: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1em;
    justify-content: space-between;
    justify-items: center;
}

.icon-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    max-width: 320px;
    padding: 1em;
    transition: all 300ms;
    text-align: center;

    .icon {
        text-align: center;
        font-size: 3em;
    }

    &:hover {
        background-color: white;
        border: 1px solid lightgray;
    }
}
