.poker-page {
    margin: 0 auto;
    max-width: 400px;

    footer {
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    &.active {
        display: block;
    }
}

.poker-card {
    background-color: white;
    padding: 4px;
    margin: 4px;
}

.poker-action {
    display: grid;
    grid-template-columns: 40px auto 70px 70px;
}

.poker-seat {
    display: grid;
    grid-template-columns: 10px auto 70px 70px;
    align-items: center;
}

footer {
    display: grid;
    text-align: center;
    align-items: center;
}
