:root {
    --grid-size: 1.5rem;
    --maxWidth-none: "none";
    --maxWidth-xs: 20rem;
    --maxWidth-sm: 24rem;
    --maxWidth-md: 28rem;
    --maxWidth-lg: 32rem;
    --maxWidth-xl: 36rem;
    --maxWidth-2xl: 42rem;
    --maxWidth-3xl: 48rem;
    --maxWidth-4xl: 56rem;
    --maxWidth-full: "100%";
    --maxWidth-wrapper: var(--maxWidth-2xl);
    --spacing-px: "1px";
    --spacing-0: 0;
    --spacing-1: calc(var(--grid-size) / 4);
    --spacing-2: calc(var(--grid-size) / 2);
    --spacing-3: calc(var(--grid-size) * 0.75);
    --spacing-4: var(--grid-size);
    --spacing-5: calc(var(--grid-size) * 1.25);
    --spacing-6: calc(var(--grid-size) * 1.5);
    --spacing-8: calc(var(--grid-size) * 2);
    --spacing-10: calc(var(--grid-size) * 2.5);
    --spacing-12: calc(var(--grid-size) * 3);
    --spacing-16: calc(var(--grid-size) * 4);
    --spacing-20: calc(var(--grid-size) * 5);
    --spacing-24: calc(var(--grid-size) * 6);
    --spacing-32: calc(var(--grid-size) * 8);
    --fontFamily-cursive: Patrick Hand, cursive;
    --fontFamily-sans:
        Work Sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --fontFamily-serif:
        "Merriweather", "Georgia", Cambria, "Times New Roman", Times, serif;
    --font-body: var(--fontFamily-sans);
    --font-heading: var(--fontFamily-cursive);
    --fontWeight-normal: 400;
    --fontWeight-medium: 500;
    --fontWeight-semibold: 600;
    --fontWeight-bold: 700;
    --fontWeight-extrabold: 800;
    --fontWeight-black: 900;
    --fontSize-root: 16px;
    --lineHeight-none: 1;
    --lineHeight-tight: 1.25;
    --lineHeight-normal: 1.5;
    --lineHeight-relaxed: 1.875;
    /* 1.200 Minor Third Type Scale */
    --fontSize-0: 0.833rem;
    --fontSize-1: 1rem;
    --fontSize-2: 1.2rem;
    --fontSize-3: 1.44rem;
    --fontSize-4: 1.728rem;
    --fontSize-5: 2.074rem;
    --fontSize-6: 2.488rem;
    --fontSize-7: 2.986rem;
    --color-primary: #283597;
    --color-text: #2e353f;
    --color-text-light: #4f5969;
    --color-heading: #1a202c;
    --color-heading-black: black;
    --color-accent: #d1dce5;
}
