ul.share-icons {
    transform: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;

    li {
        padding: 0;
        margin: 0;
    }
}
