.header {
    display: flex;
    align-items: center;
}

.header a {
    background: none;
    padding-right: 2rem;
    text-decoration: none;
}

.header nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
    justify-content: space-between;
    width: 100%;

    .social-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: .25em;
        font-size: 2em;
    }
}

.header nav a {
    padding-right: 1rem;
}

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 2em;
}

.project-image {
    margin-top: var(--spacing-8); 
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    font-style: normal;
}

blockquote span.author {
    display: block;
    text-align: right;
}

/* blockquote span b { */
/* } */
.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1em;

    a {
        text-decoration: none;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        align-items: space-between;
        background-color:white;
        text-align: center;
        border: 1px solid lightgray;
        height: 100%;
        min-height: 320px;
        overflow: hidden;
        transition: all 150ms ease-in;

        &:hover {
            transform: scale(1.05);
        }

        .description {
            display: flex;
            flex-direction: column;
            align-items: space-between;
            padding: 1em;
        }
    }
}

