.header {
    display: flex;
    align-items: center;
}

.header a {
    background: none;
    padding-right: 2rem;
    text-decoration: none;
}

.header nav {
    display: flex;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
}

.header nav a {
    padding-right: 1rem;
}

.project-image {
    margin-top: var(--spacing-8); 
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    font-style: normal;
}

blockquote span.author {
    display: block;
    text-align: right;
}

/* blockquote span b { */
/* } */
