@import '../../colors.scss';

.container {
  height: 100vh;
  overflow: hidden;
  position: relative;
  // background-image: linear-gradient(
  //   140deg,
  //   rgba(navy, 1) 40%,
  //   rgba(#4848a3, 1) 90%
  // );
  background-image: radial-gradient(
    ellipse at bottom,
    lighten(navy, 60%),
    navy
  );
  display: grid;
  grid-template-rows: auto 1fr;
}

footer {
  padding: 3rem 1rem;
  text-align: center;
  background-color: #1f1f1f;

  img {
    width: 100%;
  }

  ul.social-icons {
    margin: 0 auto;
    max-width: 400px;
    list-style: none;
    padding: 1rem 0;
    color: white;
    font-family: 'Syncopate', sans-serif;
    display: flex;
    justify-content: space-around;

    li {
      font-size: 3rem;
    }

    a {
      text-decoration: none;
      color: white;

      &:hover {
        &.youtube {
          color: $youtube;
        }
        &.twitter {
          color: $twitter;
        }
        &.github {
          color: $github;
        }
        &.linkedin {
          color: $linkedin;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $secondaryColor;
    }
  }

  @media (max-width: 400px) {
    padding: 0;
  }
}
