$mainColor: #025002;
$secondaryColor: #f6a40a;
$grey: #f7f7f7;
$green: #3cba54;
$yellow: #f4c20d;
$red: #db3236;
$blue: #4885ed;
$facebook: #3b5998;
$twitter: #0084b4;
$youtube: #bb0000;
$linkedin: #007bb6;
$google: #dd4b39;
$instagram: #e4405f;
$github: #000000;
